{% extends 'country/base.html' %}

{% block content %}
<h1>{{title}}</h1>
<p>Вне всяких сомнений, путешествия — это лучший способ познавать мир, учиться смотреть на привычные вещи по-новому
    и расширять горизонты. Мы верим, что путешествия расширяют сознание и открывают двери в новый мир,
    где наши отличия становятся источником вдохновения и роста, а не предрассудков и нетерпимости. Мы верим
    в путешествия и считаем, что каждый, независимо от возраста, пола и финансового положения, должен иметь
    возможность познавать мир через путешествия.
    {% endblock %}
